.productThumbSale {
    width: 35px;
    height: 25px;
    background-color: #ef3f42;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    border-radius: 3px;
    position: absolute;
    right: 50px;
    bottom: -5px;

}