/*famous author*/
.famousAuthor {
    background: #fff;
    border: 1px solid #eaeaea;
    font-size: 14px;
    padding: 38px 0 10px;
    width: 58.5%;
    height: 420px;
    float: left;
    margin-left: 168px;
    margin-top: 45px;
}



