.productThumbTitle {
    margin-left: 10px;
    margin-bottom: 30px;
}


.productThumbTitle h4 {
    display: inline-block;
}

.productThumbTitle1 {
    color: #005983;
    padding-right: 3px;
}

.productThumbTitle2 {
    color: #ff7a0e;
}