.authorInfo {
    width: 70%;
    float: right;
}

.authorName {
    margin-bottom: 25px;
    padding-left: 20px;
}

.authorName a {
    color: #0a6f3c;
    font-size: 18px;
    border-bottom: 1px solid #cecece;
    padding: 0 0 7px 0;
    font-weight: normal;
    text-decoration: none;
}

.authorText {
    padding-bottom: 25px;
    line-height: 20px;
    padding-right: 40px;
    padding-left: 20px;
}

.authorText a {
    color: #0a6f3c;
    display: block;
    float: right;
    width: 100px;
    margin-top: 20px;
    text-align: right;
    font-size: 13px;
    text-decoration: none;
}