.title{
    padding: 0;
    height: 30px;
    margin-left: 0;
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    /* padding: 20px 0; */
}

.title span{
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    color: #000;
    font-weight: bold;
    
}

.body ul{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.body ul li{
    float: left;
    padding: 7px 0;
    list-style: none;
    width: 20%;
}

.body ul li a{
    color: #717171;
    text-decoration: none;
}