.CategoryInfoBook{
    width: 100%;
    padding: 0 23px;
}
.CategoryInfoBook .productThump{
    position: relative;
    margin-bottom: 20px;
}
.CategoryInfoBook .productThump .saleOff{
    position: absolute;
    top: 85%;
    right: -15px;
}
.CategoryInfoBook .bookName{
    overflow: hidden;
    position: relative;
}
.CategoryInfoBook .bookName a{
    text-decoration: none;
    -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #2b2b2b;
    font-size: 13px;
}
.CategoryInfoBook .bookAuth{
    overflow: hidden;
    position: relative;
    margin: 8px 0
}
.CategoryInfoBook .bookAuth p{
    color: #747474;
    font-size: 11px;
    -webkit-line-clamp: 1; /* Số dòng tối đa hiển thị */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin: 0;
}
.CategoryInfoBook .oldPriceEdit{
    display: block;
    margin: 0;
    color: #4a4a4a;
    font-size: 14px;
}
.CategoryInfoBook .newPriceEdit{
    display: block;
    margin: 0;
    font-size: 15px;

}