.smallBoxInfo{
    height: auto;
    overflow: auto;
}
.smallBoxInfo .picThump{
    width: 22%;
    float: left;
}
.smallBoxInfo .infoBook{
    float: right;
    width: 72%;
    padding-left: 13px;
}
.smallBoxInfo .tittle{
    overflow: hidden;
    position: relative;
}.smallBoxInfo .tittle a{
    line-height: 19px; /* Chiều cao dòng */
    -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.smallBoxInfo .auth p{
    color: #6b6b6b;
    font-size: 12px;
    margin: 5px 0;
}