.DetailTittle {
    padding: 0;
    height: 30px;
    margin-left: 0;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px dashed #c7c7c7;
    color: #087b44;
    font-weight: 500;
}