

.authorContent {
}
/*
.iconAngleDown {
    margin-left: 5px;
    margin-right: 10px;
}
.iconShoppingCart {
    margin-right: 5px;
}

.iconAngleRight {
    margin-left: 5px;
    margin-right: 10px;
}
*/
.styleLeft {
    width: 20%;
    float: left;
}

.styleRight {
    width: 80%;
    float: right;
}
/*Main content*/

.authorMore {
    border: 1px solid #cecece !important;
    height: 317px !important;
    padding-top: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*Category product*/
.categoryProduct {
    width: 100%;
}


.paginationContainer {
    width: 100%;
}





