.boxSaleOff{
    width: 40px;
    background: #f03737;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Montserrat-Light';
    font-weight: bold;
}