.smallBanner {
    width: 33.3333%;
    float: right;
    /*padding-left: 5px;*/
}

.bannerTop {
    /* width: 100%;
    background: #fb8b41;*/
    height: 190px;
    border-bottom: 1px solid #f2f5f7;
}

.bannerImgT {
    width: 350px;
    height: 100%;
    /*max-width: 100%;*/
}

.bannerBottom {
    /*width: 100%;
    background: #f6b915;*/
    height: 190px;
    border-bottom: 1px solid #f2f5f7;
}