.addressCompany{
    width: 50%;
    float: left;
}

.addressCompany p{
   color: #000;
   font-size: 14px;
   text-transform: uppercase;
}

.addressCompany span{
    color: #444444;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 1px;
}