/* Slider.module.css */
.slider {
  position: relative;
  overflow: hidden;
}

.slideWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 33.33%;
}

img {
  width: 100%;
  height: auto;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
