.iconAngleRight {
    margin-left: 5px;
    margin-right: 10px;
}

.shortDescription {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.shortTitle {
    font-size: 13px;
}

.shortMore {
    margin-top: 20px;
}

.shortMore a {
    text-decoration: none;
    color: #333;
}

.shortMore a:hover {
    color: #005983;
}