.PaginationCategory span{
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #333641;
    float: left;
    background-color: #f9f9f9;
    padding: 8px;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
    line-height: 1.2;
    text-align: center;
    margin: 0 4px;


    border: 1px solid #27910d;
    border-radius: 3px;
    color: #fff;
    float: left;
    background-color: #2ba40d;
}