.homeLeft{
    float: left;
    width: 75%;
}
.homeRight{
    float: left;
    width: 25%;
    padding-left: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    .home{
        padding: 0 10px;
    }
    .homeRight{
        display: none;
    }
    .homeLeft{
        width: 100%;
    }
}