.logo{
    text-align: center;
    margin: 30px 0 40px 0;
}
.boxBtn{
    display: flex;
    justify-content: center
}
.buttonBack{
    width: 255px !important;
    height: 49px !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    background-color: #2ba40d !important;
    margin: 50px 20px !important;
}
.buttonPay{
    width: 255px !important;
    height: 49px !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    background-color: #FDC92D !important;
    color: black !important;
    margin: 50px 20px !important;
}
.tittle{
    padding: 20px 0 20px 0;
    text-align: center;
    font-weight: bold ;
    color: #117c47;
    font-size: 23px;
    text-transform: uppercase;
    /* font-family: "Montserrat-Bold" !important; */
}