
/*Nav*/
.iconMenu {
    margin-right: 20px;
    font-size: 18px;
}

.iconAngleDown {
    margin-left: 25px;
    font-size: 18px;
}

.iconAngleRight {
    margin-left: 20px;
}

.nav {
    width: 100%;
    background-color: #057A45;
    min-height: 43px;
    float: left;
    
}

.navMenu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    position: relative;
    line-height: 43px;
    float: left;
    width: 20%;
}

.navMenu li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: start;
    line-height: 43px;
    padding-left: 0;
    padding-right: 0;
    /*position: relative;*/
}

.navMenu li a {
    text-decoration: none;
    color: #fff;
}


