/*Sub menu*/
.iconAngleRight {
    margin-left: 20px;
}

.navSubMenu {
    /*display: none;*/
    display: block;
    margin: 0;
    padding: 0;
    width: 222px;
    position: absolute;
    box-shadow: 0 2px 10px #ccc;
    z-index: 99;
    top: 43px;
    left: 0;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
}

.navSubMenuTitle {
    border-top: 1px solid #f1f1f1;
}
.navSubMenu li {
    width: 100%;
    /*border-top: 1px solid #f1f1f1;*/
}

.navSubMenu li a {
    color: #333;
}
/*
.navMenu li:hover .navSubMenu {
    display: block;
}
*/

.navSubMenu li a:hover {
    color: #057A45;
}
